---
kubernetes:
  children:
    master:
      hosts:
        master1:
          ansible_host: 192.168.10.11
        master2:
          ansible_host: 192.168.10.12
        master3:
          ansible_host: 192.168.10.13
      vars:
        ansible_user: ubuntu
    worker:
      hosts:
        k8s-1:
          ansible_host: 192.168.10.21
          rook_devices:
            - /dev/sda
        k8s-2:
          ansible_host: 192.168.10.22
          rook_devices:
            - /dev/sda
        k8s-3:
          ansible_host: 192.168.10.23
          rook_devices:
            - /dev/sda
      vars:
        ansible_user: ubuntu
