apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: harbor
resources:
  - helm-release.yaml
  - pvcs/database.yaml
  - pvcs/jobservice.yaml
  - pvcs/redis.yaml
  - pvcs/registry.yaml
