---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - tautulli
  - plex
  - radarr
  - sonarr
  - lidarr
  - prowlarr
  - overseerr
  - trash-updater
  - plex-meta-manager
